<style type="text/css">
    div { padding: 30px; margin: 30px;}
    p { font-family: Helvetica; font-size: 22pt; }
</style>
<% schemes.each do |cscheme| %>
<style type="text/css">
    .scheme-<%= cscheme.name %> {
        background-color: <%= cscheme[:normal][:bg][:light] %>;
        color: <%= cscheme[:normal][:fg][:light] %>;
    }
    .dscheme-<%= cscheme.name %> {
        background-color: <%= cscheme[:normal][:bg][:dark] %>;
        color: <%= cscheme[:normal][:fg][:dark] %>;
    }
</style>
<div class="scheme-<%= cscheme.name %>">[<%= cscheme[:normal][:bg][:light] %>] <%= cscheme.name %></div>
<div class="dscheme-<%= cscheme.name %>">[<%= cscheme[:normal][:fg][:light] %>] <%= cscheme.name %></div>
<% end %>

