<style type="text/css">
    div { padding: 30px; margin: 30px;}
    p { font-family: Helvetica; font-size: 22pt; }
</style>
<% schemes.each do |cscheme| %>
<style type="text/css">
    .scheme-<%= cscheme.name %> {
        background-color: <%= cscheme[:light][:normal][:bg] %>;
        color: <%= cscheme[:light][:normal][:fg] %>;
    }
    .dscheme-<%= cscheme.name %> {
        background-color: <%= cscheme[:dark][:normal][:bg]%>;
        color: <%= cscheme[:dark][:normal][:fg]%>;
    }
</style>
<div class="scheme-<%= cscheme.name %>">[<%= cscheme[:light][:normal][:bg]%>] <%= cscheme.name %></div>
<div class="dscheme-<%= cscheme.name %>">[<%= cscheme[:light][:normal][:fg]%>] <%= cscheme.name %></div>
<% end %>

